$home_section_color:#121212;
$profile_section_color:#3498DB;
$education_section_color:#1ABC9C;
$experience_section_color:#34495E;
$attitudes_section_color:#E74C3C;

$blue:#3498DB;

.gravatar-small{
  position:fixed;
  top:50px;
  right:10px;
  z-index:10;
  border-radius:25px;
  display:none;
}
#profile-lg{
  top:100vh;
  height:102vh;
}
#education-lg,#experience-lg,#attitudes-lg{
  top:1000vh;
  height:102vh;
}

#education-lg{
  .image{
     max-height:50px;
  height:50px;
  }
 
}
section.ui.segment{
  //min-height:102vh;
  min-height:99vh;
  //height:102vh;
  position:relative;
  width:100%;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
  text-align: center;
  margin-bottom:0;
  margin-top:0;
  &.home{
    width:100%;
    margin:none;
    padding:none;
    &.computer{
      height:100vh;
      margin-top:0;
      top:0;
      position:fixed;
    }
    z-index:1;
    background-color:$home_section_color;
    .content{
      padding-top:10vh;
      .gravatar{
        width:150px;
        //border:solid 5px darken($home_section_color,10);
        border-radius:75px;
        left:0;
        //box-shadow: 0px -2px 10px 0px rgba(130,130,130, 0.84);
      }
      .social-links{
        display:block;
        padding-top:20px;
        color:white;
        font-size:5em;
        cursor:pointer;
        i{
          font-size:1.8em;
          line-height:1em;
        }
      }
    }
    h1{
      color:white;
    }
    h2{
      color:#333;
    }
  }
  &.profile{
    
    //top:100vh;
    background-color:$profile_section_color;
    z-index: 2;
    .summary{
      h2{
        color:white;
        margin-bottom:20px;
      }
      min-height:400px;
      border: solid thick white; 
      border-radius:10px;
      padding:10px 30px 30px 30px;
    }
    h1{
      color:white;
    }
    p{
      font-size:1.1em;
      text-align: justify;
      color:lighten($profile_section_color,30);
    }
    ul{
      list-style: none;
      min-height:300px;
      //color:lighten($profile_section_color,30);
      font-size:1em;
      li{
        padding:5px;
        text-align: left;
        i{
          width:40px;
          height:40px;
          padding:4px;
          border:solid thick $blue;
          border-radius:20px;
          color:$blue;
          background-color:#f3f3f3;
        }
        em{
          font-style: normal;
          color:#AAA;
        }
      }
    }
  }
  &.education{
    background-color:$education_section_color;
    z-index: 3;
    h1{
      color:white;
    }
    .card{
      .image:before {
        content: '';
        display: inline-block;
        height: 100%;
        
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
      }
      .image{
        min-height:150px;
        height:200px;
        min-height:100px;
        text-align: center;
        width:100%;
         white-space: nowrap;
        overflow:hidden;
        img{
          display: inline-block;
          vertical-align: middle;
          width: 50%;
        }
        
      }
    }
    .school{
      background-color:#16A085;
      padding:20px;
      color:white;
      border-radius:10px;
    }
    .GPA{
      background-color:$education_section_color;
      width:50px;
      height:50px;
      border-radius:25px;
      color:white;
      padding-top:7px;
    }
      
  }
  &.expertise{
    background-color:#6ce3a4;
    z-index: 4;
  }
  &.experience{
    background-color:$experience_section_color;
    z-index: 5;
    h1{
      color:white;
    }
    h4{
      color:lighten($experience_section_color,20);
    }
    .segment{
      width:100%;
      min-width:100%;
      min-height:500px;
      background: #2C3E50;
      &.work{
        color:white;
        //border:solid thick white;
        border-radius:5px;
        display:none;
        &.selected{
          display:block;
        }
      }
    }
    .side-work-menu,.menu{
      .item{
        animate: all ease-in-out .5s;
        border-top:solid thin #eee;
        &.selected{
          background-color:#f1f1f1;
        }
        img.image{
          max-width:50px;
          min-width:50px;
          width:20px;
          display:block;
          margin-bottom:5px;
        }
      }
    }
  }
  &.skills{
    background-color:#6ce3a4;
    z-index: 6;
  }
  &.attitudes{
    h1{
      color:white;
    }
    background-color:$attitudes_section_color;
    z-index: 7;
    .ui.segment{
      background-color:#C0392B;
        min-height:500px;
        padding:40px;
      ul{
        list-style: none;
        font-size:1.3em;
        padding-left:none;
        margin-left:-30px;
        li{
          border-radius:5px;
          margin:10px;
          padding:10px;
          color:lighten($attitudes_section_color,35);
          //border:solid thin #eee;
          background-color:$attitudes_section_color;
        }
      }
    }
    
  }
}

.computer .footer{
  top:1500vh;
  z-index:200;
}

.mobile{
  display:none;
}

@media all and (min-width:995px) {

/* First, hide the main menu */
    .mobile{
      display:none;
    }
}
