<br/><br/>
<h1>Attitudes</h1>
<div class="ui grid">
    <div class="four wide computer two wide tablet one wide mobile  column"></div>
    <div class="eight wide computer twelve wide tablet fourteen wide mobile  column">
      <div class="ui segment raised">
        <ul>
          <li>Genuine passion for technology, and learning about it.</li>
          <li>Always eager to solve problems that impose a challenge. </li>
          <li>Capable of seeing the big picture.</li>
          <li>Capable of working at a fast-paced project.</li>
          <li>Effective team working and communication skills.</li>
          <li>Leadership skills.</li>
        </ul>
      </div>
    </div>
</div>
  
