<div  class="middle aligned content">
    <img class="gravatar" src="http://www.gravatar.com/avatar/90ce547e9a902493dd90665e67e32212?s=150"/>
    <h1 class="ui inverted header">
    Ricardo Hernández Moguel
  </h1>
  <h2>Developing software and writing code are not the same thing.</h2>
  <span class="social-links">
    <a target="_blank" href="https://mx.linkedin.com/in/rmoguel" class="ui icon button link-me blue" data-content="https://mx.linkedin.com/in/rmoguel
">
      <i class="linkedin square icon"></i>
    </a>
    <a target="_blank" href="skype:ricardo.mogg?call" class="ui icon button skype-me teal" data-content="ricardo.mogg">
      <i class="skype icon"></i>
    </a>
    <a target="_blank" href="https://twitter.com/ricardoMogg" class="ui icon button twit-me blue " data-content="@ricardoMogg">
      <i class="twitter square icon"></i>
    </a>
    <a target="_blank" href="mailto:ricardo.mogg@gmail.com" class="ui icon button email-me red" data-content="ricardo.mogg@gmail.com">
    <i class="mail square icon"></i>
    </a>
    
    <a href="tel:+525591859389" class="ui icon button phone-me green" data-content="+525591859389">
      <i class="phone icon" ></i>
    </a>
    
  </span>
</div>