<h3>Aerosol Medical Systems</h3>
        <h4>Job Responsabilities</h4>
          <p>IT Maintenance involving computers, servers, networking and ERP software. Provide an effect troubleshooting service to every area in order to keep productivity as high as possible.</p>
        <h4>Job Accomplishments</h4>
        <p> Achieved to provide Hardware, Software, and Networking based solutions in order to give a better support for everyone at AMS. Some of the solutions proposed were:  the implementation of a SAP BO electronic invoice module, the implementation of a new LLPC and buying and installing a new server based on their needs. Customer support was essential for this job, and that skill was greatly developed throughout the time I worked there. </p>
