<h3>Copeems</h3>
        <h4>Job Responsabilities</h4>
          <p>Define software architecture, design patterns, and development tools needed to develop a system used for managing COPEEMS business. Collect requirements, translate requirements to use cases, and programming the web platform.</p>
        <h4>Job Accomplishments</h4>
        <p> I decided the tools to use for the development of a 3 year long project and was named Project Development Leader. My team and I have also accomplished to build a friendly user interface by relying on AJAX, Jquery, and bootstrap components to make it easier for the client to use our system. I lead my team by using SCRUM and Test Driven Development upgrading QA to the highest value. I also developed python based utils to help the rest of the team get important information about the state of the development of the project. </p>
