<h3>Technogi</h3>
        <h4>Job Responsabilities</h4>
          <p>Defining solutions fitting the customer’s exact needs by selecting the correct tools and software architecture to solve their problems. Help with project management using different tools and techniques combining useful knowledge learned from SCRUM, KANBAN, and PMI.</p>
        <h4>Job Accomplishments</h4>
        <p> I constantly had the responsability to develop different projects with diverse languages and tools with different teams. Often I had to develop using tools I had never used before, this helped me learn fast about new tehcnologies. During this projects I helped deliver successfully projects that helped costumers upgrade their businesses. </p>
