<h3>Sesyc</h3>
        <h4>Job Responsabilities</h4>
          <p>Manage and develop every system based in the customer needs. Gather customer requirements and make a system based in this.</p>
        <h4>Job Accomplishments</h4>
        <p> I achieved to develop every project asked in time and budget by having the capability of adequately manage my resources. I correctly chose the tools for every project I was assigned to in order to achieve a great productivity while covering every need of each project. </p>
