<br/><br/>
<h1>Education</h1>

<div class="ui school">
    
      <p>Bachelor Degree in Computer Science Engineering at Instituto Tecnológico y de Estudios Superiores de Monterrey Campus Ciudad de México (ITESM–CCM) </p>
    <center>
      <div class="GPA">
        GPA<br/>
        87
      </div>
    </center>
      
  
</div>
<div class="ui seven cards doubling" style="margin-top:20px;">

    <div class="ui card blue">
      <div class="image">
        <img src="./assets/images/paypal_certified_developer.gif">
      </div>
      <div class="content">
        <a class="header">Paypal certified developer</a>
        <div class="meta">
          <span class="date">2013</span>
        </div>
      </div>
    </div>
  
    <div class="ui card orange">
      <div class="image">
        <img src="./assets/images/csm.jpg">
      </div>
      <div class="content">
        <a class="header">Certified Scrum Master</a>
        <div class="meta">
          <span class="date">2013</span>
        </div>
      </div>
    </div>
  
    <div class="ui card olive">
      <div class="image">
        <img src="./assets/images/harvard_manage_mentor.jpg">
      </div>
      <div class="content">
        <a class="header">Harvard Manage Mentor</a>
        <div class="meta">
          <span class="date">2013</span>
        </div>
      </div>
    </div>
  
    <div class="ui card blue">
      <div class="image">
        <img src="./assets/images/pmi-capm.jpg">
      </div>
      <div class="content">
        <a class="header">Certified Associate Project Manager</a>
        <div class="meta">
          <span class="date">2011</span>
        </div>
      </div>
    </div>
  
  
    <div class="ui card red">
      <div class="image">
        <img src="./assets/images/ocjp.png">
      </div>
      <div class="content">
        <a class="header">Oracle Java SE 6 Programmer</a>
        <div class="meta">
          <span class="date">2010</span>
        </div>
      </div>
    </div>
  
    <div class="ui card blue">
      <div class="image">
        <img src="./assets/images/ccnaw.png" >
      </div>
      <div class="content">
        <a class="header">Cisco Certified Network Associate Wireless</a>
        <div class="meta">
          <span class="date">2010</span>
        </div>
      </div>
    </div>
  
    
    <div class="ui card blue">
      <div class="image">
        <img src="./assets/images/ccna.jpg">
      </div>
      <div class="content">
        <a class="header">Cisco Certified Network Associate</a>
        <div class="meta">
          <span class="date">2010</span>
        </div>
      </div>
    </div>
  
  
</div>