<br/><br/>
<h1>Work Experience</h1>
<div class="segment ui">
  <div class="ui grid">
    <div class="sixteen wide tablet only mobile only column">
      <div class="ui four item menu top-work-menu">
        <a class="item technogi selected" data="technogi">Technogi</a>
        <a class="item copeems" data="copeems">Copeems</a>
        <a class="item sesyc" data="sesyc">SESYC</a>
        <a class="item ams" data="ams">AMS</a>
      </div>
    </div>
    
  </div>
  <div class="ui grid">
    <div class="two wide computer only column">
      <div class="ui compact vertical labeled menu side-work-menu">
        <a class="item technogi selected" data="technogi">
          <img class="image" style="width:50px"src="http://www.technogi.com.mx/favicon.ico"/>
          Technogi
        </a>
        <a class="item  copeems" data="copeems">
          <img class="image" style="width:50px"src="./assets/images/copeems.png"/>
          Copeems
        </a>
        <a class="item sesyc" data="sesyc">
          <img class="image" style="width:50px"src="./assets/images/sesyc.png"/>
          SESYC
        </a>
        <a class="item ams" data="ams">
          <img class="image" style="width:50px"src="./assets/images/ams.png"/>
          AMS
        </a>
      </div>
    </div>
    <div class="fourteen wide computer only sixteen wide tablet mobile stretched column">
      <div class="work ui segment technogi selected" style="text-align:left;">
         <ng-include src="'./app/main/templates/experiences/technogi.tmpl.html'"/>
      </div>
      <div class="work ui segment copeems" style="text-align:left;">
         <ng-include src="'./app/main/templates/experiences/copeems.tmpl.html'"/>
      </div>
      <div class="work ui segment sesyc" style="text-align:left;">
         <ng-include src="'./app/main/templates/experiences/sesyc.tmpl.html'"/>
      </div>
      <div class="work ui segment ams" style="text-align:left;">
         <ng-include src="'./app/main/templates/experiences/ams.tmpl.html'"/>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.work.technogi').fadeIn(100);
    $('.top-work-menu .item').click(function(){
      $('.top-work-menu .item').removeClass('selected');
      $(this).addClass('selected');
      $(' .work').hide();
      $('.work.'+$(this).attr('data')).fadeIn(100);
    });
    $('.side-work-menu .item').click(function(){
      $('.side-work-menu .item').removeClass('selected');
      $(this).addClass('selected');
      $('.work').hide();
      $('.work.'+$(this).attr('data')).fadeIn(100);
    });
  });
</script>
