  <br/><br/><br/>
<h1>Profile</h1>
<h2>Professional Objective</h2>
    <p style="text-align:center">Build new tools and technologies accessible to many people, learn how the top technology companies work, and be able to challenge myself everyday by creating the best solution based on my knowledge.</p>
<br/><br/>
<div class="ui grid">

  <div class="eight wide computer sixteen wide tablet column">
    <div class="summary">
      <h2>Summary</h2>
      <p>Soy un desarrollador de software con experiencia en todos los ciclos de desarrollo de un proyecto. He tenido la oportunidad de trabajar en empresas que me han dado la oportunidad de aplicar mis conocimientos y habilidades desde identificar la necesidad de un cliente, desarrollar una propuesta basada para resolver la necesidad, analizar los requerimientos, planear, desarrollar, manejar, y mantener el software.</p>

      <p> He tenido la oportunidad de utilizar productivamente muchas herramientas dependendiendo de las distintas necesidades. Esto ha incrementado mi habilidad para aprender rápidamente y entender las nuevas tecnologías correctamente.</p>
    </div>
    
  </div>
  
  <div class="eight wide computer sixteen wide tablet column">
    <div class="ui raised segment">
      <h2>Some skills</h2>
      <ul>
        <li><i class="cloud icon blue"></i>Cloud based technologies  <em>AWS, Heroku, Parse, Rackspace</em></li>
        <li> <i class="code icon blue"></i>Languages <em> Java, Javascript, Ruby, Php, Scala, Swift</em></li>
        <li> <i class="home icon blue"></i>Frontend Developer <em>Angular.js, Material, Bootstrap, jQuery</em></li>
        <li> <i class="setting icon blue"></i>Backend Developer <em>Springboot, Node.js, Play!, Yii, Rails </em></li>
        <li> <i class="calendar icon blue"></i>Project Management <em>ScrumMaster, CAPM, KANBAN</em></li>
        <li> <i class="bar chart icon blue"></i> DevOps <em>Continous Integration/Delivery, Monitoring</em></li>
      </ul>
    </div>
    
  </div>
</div>
